<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      style="
        max-width: 600px;
        margin: 30px auto;
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      ">
      <h1 style="color: #222; text-align: center">Hello, {{name}}!</h1>
      <p style="color: #222; line-height: 1.6; text-align: center">
        We're sorry to see you go! Your account has been successfully deleted
        from our system.
      </p>
      <p style="color: #222; line-height: 1.6; text-align: center">
        Thank you for being with us. We hope you found QoolQuotes entertaining.
      </p>
    </div>
  </body>
</html>
